/*
!.gitignore

!/ExoGUI/
/ExoGUI/*
!/ExoGUI/ExoGUI
/ExoGUI/ExoGUI/*
!/ExoGUI/ExoGUI/*.py

!/ExoPi/
/ExoPi/*
!/ExoPi/ExoPi
/ExoPi/ExoPi/*
!/ExoPi/ExoPi/*.py

!/ExoArduino/
/ExoArduino/*
!/ExoArduino/ExoArduino
/ExoArduino/ExoArduino/*
!/ExoArduino/ExoArduino/*.ino