*.ini
*.pyc

/*
!.gitignore

!/ExoGUI/
/ExoGUI/*
!/ExoGUI/ExoGUI
/ExoGUI/ExoGUI/*
!/ExoGUI/ExoGUI/*.py

!/ExoPi/
/ExoPi/*
!/ExoPi/ExoPi
/ExoPi/ExoPi/*
!/ExoPi/ExoPi/*.py

!/ExoArduino/
/ExoArduino/*
!/ExoArduino/ExoArduino
/ExoArduino/ExoArduino/*
!/ExoArduino/ExoArduino/*.ino

!/Exo/
/Exo/*
!/Exo/ExoMain/
/Exo/ExoMain/*
!/Exo/ExoMain/ExoMain/
/Exo/ExoMain/ExoMain/*
!/Exo/ExoMain/ExoMain/Script
/Exo/ExoMain/ExoMain/Script/*
!/Exo/ExoMain/ExoMain/Script/*.txt
!/Exo/ExoMain/ExoMain/Script/include/*
!/Exo/ExoMain/ExoMain/Script/src/*

!/ExoPC/
/ExpPC/*
!/ExoPC/*.py
